.carsContainer {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    justify-items: center;
}

.carsTitle {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 4rem;
    text-align: center;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI';
    font-size: 2.5rem;
}
  
  @media (max-width: 1090px) {
    .carsContainer {
      grid-template-columns: repeat(2, 50%);
    }
  }
  
  @media (max-width: 730px) {
    .carsContainer {
      grid-template-columns: 1fr;
    }
  }
  